@charset "UTF-8";

@font-face {
  font-family: "sok-icons";
  src:url("fonts/sok-icons.eot");
  src:url("fonts/sok-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/sok-icons.woff") format("woff"),
    url("fonts/sok-icons.ttf") format("truetype"),
    url("fonts/sok-icons.svg#sok-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sok-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sok-icon-"]:before,
[class*=" sok-icon-"]:before {
  font-family: "sok-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sok-icon-facebook:before {
  content: "\61";
}
.sok-icon-monitor:before {
  content: "\62";
}
.sok-icon-instagram:before {
  content: "\63";
}
.sok-icon-emoji-grin:before {
  content: "\64";
}
.sok-icon-folder:before {
  content: "\65";
}
.sok-icon-minus:before {
  content: "\66";
}
.sok-icon-plus:before {
  content: "\67";
}
.sok-icon-emoji-sad:before {
  content: "\68";
}
.sok-icon-bugs:before {
  content: "\69";
}
.sok-icon-emoji-smile:before {
  content: "\6a";
}
.sok-icon-paypal:before {
  content: "\6b";
}
.sok-icon-settings-1:before {
  content: "\6c";
}
.sok-icon-invoice:before {
  content: "\6d";
}
.sok-icon-donation-1:before {
  content: "\6e";
}
.sok-icon-shop-1:before {
  content: "\6f";
}
.sok-icon-chart:before {
  content: "\70";
}
.sok-icon-donation-2:before {
  content: "\71";
}
.sok-icon-copy:before {
  content: "\72";
}
.sok-icon-tag:before {
  content: "\73";
}
.sok-icon-home:before {
  content: "\79";
}
.sok-icon-question:before {
  content: "\7a";
}
.sok-icon-arrow-left:before {
  content: "\41";
}
.sok-icon-safari:before {
  content: "\42";
}
.sok-icon-chrome:before {
  content: "\43";
}
.sok-icon-arrow-down:before {
  content: "\44";
}
.sok-icon-twitter:before {
  content: "\45";
}
.sok-icon-power-button:before {
  content: "\46";
}
.sok-icon-emoji-straight:before {
  content: "\47";
}
.sok-icon-emoji-tongue:before {
  content: "\48";
}
.sok-icon-trash-2:before {
  content: "\49";
}
.sok-icon-trash-1:before {
  content: "\4a";
}
.sok-icon-emoji-surprise:before {
  content: "\4b";
}
.sok-icon-menu-1:before {
  content: "\74";
}
.sok-icon-firefox:before {
  content: "\75";
}
.sok-icon-accessibility:before {
  content: "\76";
}
.sok-icon-qr-code:before {
  content: "\77";
}
.sok-icon-donation-3:before {
  content: "\78";
}
.sok-icon-shop-2:before {
  content: "\4c";
}
.sok-icon-chevron-down:before {
  content: "\4d";
}
.sok-icon-chevron-left:before {
  content: "\4e";
}
.sok-icon-moon:before {
  content: "\4f";
}
.sok-icon-save:before {
  content: "\50";
}
.sok-icon-paste:before {
  content: "\51";
}
.sok-icon-dislike:before {
  content: "\52";
}
.sok-icon-chevron-up:before {
  content: "\53";
}
.sok-icon-like:before {
  content: "\54";
}
.sok-icon-bookmark:before {
  content: "\55";
}
.sok-icon-email:before {
  content: "\56";
}
.sok-icon-chat:before {
  content: "\57";
}
.sok-icon-arrow-up:before {
  content: "\58";
}
.sok-icon-menu-2:before {
  content: "\59";
}
.sok-icon-shop-3:before {
  content: "\5a";
}
.sok-icon-shop-4:before {
  content: "\30";
}
.sok-icon-bussines:before {
  content: "\31";
}
.sok-icon-settings-2:before {
  content: "\32";
}
.sok-icon-logo:before {
  content: "\33";
}
.sok-icon-browser-shield:before {
  content: "\34";
}
.sok-icon-star:before {
  content: "\35";
}
.sok-icon-cancel:before {
  content: "\37";
}
.sok-icon-shield:before {
  content: "\38";
}
.sok-icon-donation-4:before {
  content: "\39";
}
.sok-icon-camera:before {
  content: "\21";
}
.sok-icon-heart:before {
  content: "\22";
}
.sok-icon-eye-show:before {
  content: "\23";
}
.sok-icon-eye-hide:before {
  content: "\24";
}
.sok-icon-arrow-right:before {
  content: "\25";
}
.sok-icon-open:before {
  content: "\26";
}
.sok-icon-settings-3:before {
  content: "\27";
}
.sok-icon-user:before {
  content: "\28";
}
.sok-icon-linkedin:before {
  content: "\29";
}
