.sok-MarkdownRenderer {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: var(--font__color--primary);
	font-size: 1em;
	padding: 24px 0;
	word-wrap: break-word;
	border-top: 1px solid var(--color__border);
	border-bottom: 1px solid var(--color__border);
}

.sok-MarkdownRenderer .pl-c {
	color: #6a737d;
}

.sok-MarkdownRenderer .pl-c1,
.sok-MarkdownRenderer .pl-s .pl-v {
	color: #005cc5;
}

.sok-MarkdownRenderer .pl-e,
.sok-MarkdownRenderer .pl-en {
	color: #6f42c1;
}

.sok-MarkdownRenderer .pl-smi,
.sok-MarkdownRenderer .pl-s .pl-s1 {
	color: var(--font__color--primary);
}

.sok-MarkdownRenderer .pl-ent {
	color: #22863a;
}

.sok-MarkdownRenderer .pl-k {
	color: #d73a49;
}

.sok-MarkdownRenderer .pl-s,
.sok-MarkdownRenderer .pl-pds,
.sok-MarkdownRenderer .pl-s .pl-pse .pl-s1,
.sok-MarkdownRenderer .pl-sr,
.sok-MarkdownRenderer .pl-sr .pl-cce,
.sok-MarkdownRenderer .pl-sr .pl-sre,
.sok-MarkdownRenderer .pl-sr .pl-sra {
	color: #032f62;
}

.sok-MarkdownRenderer .pl-v,
.sok-MarkdownRenderer .pl-smw {
	color: #e36209;
}

.sok-MarkdownRenderer .pl-bu {
	color: #b31d28;
}

.sok-MarkdownRenderer .pl-ii {
	color: #fafbfc;
	background-color: #b31d28;
}

.sok-MarkdownRenderer .pl-c2 {
	color: #fafbfc;
	background-color: #d73a49;
}

.sok-MarkdownRenderer .pl-c2:before {
	content: '^M';
}

.sok-MarkdownRenderer .pl-sr .pl-cce {
	font-weight: bold;
	color: #22863a;
}

.sok-MarkdownRenderer .pl-ml {
	color: #735c0f;
}

.sok-MarkdownRenderer .pl-mh,
.sok-MarkdownRenderer .pl-mh .pl-en,
.sok-MarkdownRenderer .pl-ms {
	font-weight: bold;
	color: #005cc5;
}

.sok-MarkdownRenderer .pl-mi {
	font-style: italic;
	color: var(--font__color--primary);
}

.sok-MarkdownRenderer .pl-mb {
	font-weight: bold;
	color: var(--font__color--primary);
}

.sok-MarkdownRenderer .pl-md {
	color: #b31d28;
	background-color: #ffeef0;
}

.sok-MarkdownRenderer .pl-mi1 {
	color: #22863a;
	background-color: #f0fff4;
}

.sok-MarkdownRenderer .pl-mc {
	color: #e36209;
	background-color: #ffebda;
}

.sok-MarkdownRenderer .pl-mi2 {
	color: var(--color__gray);
	background-color: #005cc5;
}

.sok-MarkdownRenderer .pl-mdr {
	font-weight: bold;
	color: #6f42c1;
}

.sok-MarkdownRenderer .pl-ba {
	color: #586069;
}

.sok-MarkdownRenderer .pl-sg {
	color: #959da5;
}

.sok-MarkdownRenderer .pl-corl {
	text-decoration: underline;
	color: #032f62;
}

.sok-MarkdownRenderer .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}

.sok-MarkdownRenderer a {
	background-color: transparent;
	color: var(--font__color--secondary);
	text-decoration: none;
}

.sok-MarkdownRenderer a:active,
.sok-MarkdownRenderer a:hover {
	outline-width: 0;
}

.sok-MarkdownRenderer strong {
	font-weight: 700;
}

.sok-MarkdownRenderer h1 {
	margin: 0.67em 0;
	font-weight: 700;
	padding-bottom: 0.3em;
	font-size: 2.5em;
	border-bottom: 1px solid #eaecef;
}

.sok-MarkdownRenderer img {
	border-style: none;
	max-width: 100%;
	box-sizing: content-box;
}

.sok-MarkdownRenderer code,
.sok-MarkdownRenderer kbd,
.sok-MarkdownRenderer pre {
	font-size: 1em;
}

.sok-MarkdownRenderer hr {
	box-sizing: content-box;
	overflow: hidden;
	background: transparent;
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	border: 0;
	border-bottom: 1px solid var(--color__border);
}

.sok-MarkdownRenderer input {
	font: inherit;
	margin: 0;
	overflow: visible;
}

.sok-MarkdownRenderer [type='checkbox'] {
	box-sizing: border-box;
	margin-right: 10px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: default;
}

.sok-MarkdownRenderer * {
	box-sizing: border-box;
}

.sok-MarkdownRenderer a:hover {
	text-decoration: underline;
}

.sok-MarkdownRenderer hr:before {
	display: table;
	content: '';
}

.sok-MarkdownRenderer hr:after {
	display: table;
	clear: both;
	content: '';
}

.sok-MarkdownRenderer table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: 100%;
	overflow: auto;
}

.sok-MarkdownRenderer td,
.sok-MarkdownRenderer th {
	padding: 0;
}

.sok-MarkdownRenderer h1,
.sok-MarkdownRenderer h2,
.sok-MarkdownRenderer h3,
.sok-MarkdownRenderer h4,
.sok-MarkdownRenderer h5,
.sok-MarkdownRenderer h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 700;
	line-height: 1.25;
	color: var(--color__secondary--light);
}

.sok-MarkdownRenderer h2 {
	font-weight: 700;
	padding-bottom: 0.3em;
	font-size: 2.3em;
	border-bottom: 1px solid #eaecef;
}

.sok-MarkdownRenderer h3 {
	font-size: 2.1em;
	font-weight: 700;
}

.sok-MarkdownRenderer h4 {
	font-weight: 700;
	font-size: 1.9em;
}

.sok-MarkdownRenderer h5 {
	font-weight: 700;
	font-size: 1.7em;
}

.sok-MarkdownRenderer h6 {
	font-weight: 700;
	font-size: 1.5em;
	color: #6a737d;
}

.sok-MarkdownRenderer p {
	margin-top: 0;
	margin-bottom: 10px;
}

.sok-MarkdownRenderer blockquote {
	margin: 0;
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid var(--color__border);
}

.sok-MarkdownRenderer ul,
.sok-MarkdownRenderer ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
}

.sok-MarkdownRenderer ol ol,
.sok-MarkdownRenderer ul ol {
	list-style-type: lower-roman;
}

.sok-MarkdownRenderer ul ul ol,
.sok-MarkdownRenderer ul ol ol,
.sok-MarkdownRenderer ol ul ol,
.sok-MarkdownRenderer ol ol ol {
	list-style-type: lower-alpha;
}

.sok-MarkdownRenderer dd {
	margin-left: 0;
}

.sok-MarkdownRenderer code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;
}

.sok-MarkdownRenderer pre {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	word-wrap: normal;
}

.sok-MarkdownRenderer .pl-0 {
	padding-left: 0 !important;
}

.sok-MarkdownRenderer .pl-1 {
	padding-left: 4px !important;
}

.sok-MarkdownRenderer .pl-2 {
	padding-left: 8px !important;
}

.sok-MarkdownRenderer .pl-3 {
	padding-left: 16px !important;
}

.sok-MarkdownRenderer .pl-4 {
	padding-left: 24px !important;
}

.sok-MarkdownRenderer .pl-5 {
	padding-left: 32px !important;
}

.sok-MarkdownRenderer .pl-6 {
	padding-left: 40px !important;
}

.sok-MarkdownRenderer:before {
	display: table;
	content: '';
}

.sok-MarkdownRenderer:after {
	display: table;
	clear: both;
	content: '';
}

.sok-MarkdownRenderer > *:first-child {
	margin-top: 0 !important;
}

.sok-MarkdownRenderer > *:last-child {
	margin-bottom: 0 !important;
}

.sok-MarkdownRenderer a:not([href]) {
	color: inherit;
	text-decoration: none;
}

.sok-MarkdownRenderer .anchor {
	float: left;
	padding-right: 4px;
	margin-left: -24px;
	line-height: 1;
}

.sok-MarkdownRenderer .anchor:focus {
	outline: none;
}

.sok-MarkdownRenderer p,
.sok-MarkdownRenderer blockquote,
.sok-MarkdownRenderer ul,
.sok-MarkdownRenderer ol,
.sok-MarkdownRenderer dl,
.sok-MarkdownRenderer table,
.sok-MarkdownRenderer pre {
	margin-top: 0;
	margin-bottom: 16px;
}

.sok-MarkdownRenderer blockquote > :first-child {
	margin-top: 0;
}

.sok-MarkdownRenderer blockquote > :last-child {
	margin-bottom: 0;
}

.sok-MarkdownRenderer kbd {
	padding: 3px 5px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border-radius: 3px;
	display: inline-block;
	font: 11px 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace;
	line-height: 10px;
	border: solid 1px #d1d5da;
	border-bottom-color: var(--color__border);
	box-shadow: inset 0 -1px 0 var(--color__gray--light);
}

.sok-MarkdownRenderer h1 .octicon-link,
.sok-MarkdownRenderer h2 .octicon-link,
.sok-MarkdownRenderer h3 .octicon-link,
.sok-MarkdownRenderer h4 .octicon-link,
.sok-MarkdownRenderer h5 .octicon-link,
.sok-MarkdownRenderer h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
}

.sok-MarkdownRenderer h1:hover .anchor,
.sok-MarkdownRenderer h2:hover .anchor,
.sok-MarkdownRenderer h3:hover .anchor,
.sok-MarkdownRenderer h4:hover .anchor,
.sok-MarkdownRenderer h5:hover .anchor,
.sok-MarkdownRenderer h6:hover .anchor {
	text-decoration: none;
}

.sok-MarkdownRenderer h1:hover .anchor .octicon-link,
.sok-MarkdownRenderer h2:hover .anchor .octicon-link,
.sok-MarkdownRenderer h3:hover .anchor .octicon-link,
.sok-MarkdownRenderer h4:hover .anchor .octicon-link,
.sok-MarkdownRenderer h5:hover .anchor .octicon-link,
.sok-MarkdownRenderer h6:hover .anchor .octicon-link {
	visibility: visible;
}

.sok-MarkdownRenderer ul ul,
.sok-MarkdownRenderer ul ol,
.sok-MarkdownRenderer ol ol,
.sok-MarkdownRenderer ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.sok-MarkdownRenderer li {
	word-wrap: break-all;
}

.sok-MarkdownRenderer li > p {
	margin-top: 16px;
}

.sok-MarkdownRenderer li + li {
	margin-top: 0.25em;
}

.sok-MarkdownRenderer dl {
	padding: 0;
}

.sok-MarkdownRenderer dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 700;
}

.sok-MarkdownRenderer dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

.sok-MarkdownRenderer table th {
	font-weight: 700;
}

.sok-MarkdownRenderer table th,
.sok-MarkdownRenderer table td {
	padding: 6px 13px;
	border: 1px solid var(--color__border);
}

.sok-MarkdownRenderer table tr {
	border-top: 1px solid var(--color__border);
}

.sok-MarkdownRenderer table tr:nth-child(2n) {
	background-color: var(--color__gray);
}

.sok-MarkdownRenderer img[align='right'] {
	padding-left: 24px;
}

.sok-MarkdownRenderer img[align='left'] {
	padding-right: 24px;
}

.sok-MarkdownRenderer pre > code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

.sok-MarkdownRenderer .highlight {
	margin-bottom: 16px;
}

.sok-MarkdownRenderer .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.sok-MarkdownRenderer .highlight pre,
.sok-MarkdownRenderer pre {
	padding: 24px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: var(--bg__code--block);
	border-radius: 3px;
}

.sok-MarkdownRenderer pre code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

.sok-MarkdownRenderer .full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
}

.sok-MarkdownRenderer :checked + .radio-label {
	position: relative;
	z-index: 1;
	border-color: var(--font__color--primary);
}

.sok-MarkdownRenderer .task-list-item {
	list-style-type: none;
}

.sok-MarkdownRenderer .task-list-item + .task-list-item {
	margin-top: 3px;
}

.sok-MarkdownRenderer .task-list-item input {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}
