/* Dark Theme */

:root {
	--color__white: #f0f0f7;
	--color__white--dark: #b7b7cd;
	--color__gray: #353740;
	--color__gray--light: #5e5d66;
	--color__gray--dark: #21212a;
	--color__orange: #fe1605;
	--color__orange__light: #fea04f;

	--color__header__gradient: linear-gradient(to top, var(--color__gray--dark) 0%,#14141a 100%);
	--color__footer__gradient: linear-gradient(to bottom, var(--color__gray--dark) 0%,#14141a 100%);
}
