.sok-SaveButton {
	height: 25px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 5px;
	font-weight: 900;
	transition: all 0.3s ease-in-out;
	background: var(--color__white);
	color: var(--color__gray--dark);
}

.sok-SaveButton-disabled {
	background: var(--color__gray--light) !important;
	text-decoration: line-through;
	color: var(--color__white--dark);
}

.sok-SaveButton-button {
	cursor: pointer;
}

.sok-SaveButton-disabled .sok-SaveButton-button {
	cursor: not-allowed;
}
