.sok-Chip {
	width: auto;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5px 5px;
	font-weight: 900;
	transition: all 0.3s ease-in-out;
}

.sok-Chip.sok-Chip-javascript {
	color: #21212a;
	background: var(--color__lang__js);
}

.sok-Chip.sok-Chip-react {
	color: #ffffff;
	background: var(--color__lang__react);
}

.sok-Chip.sok-Chip-python {
	color: #21212a;
	background: var(--color__lang__python);
}

.sok-Chip.sok-Chip-interview {
	color: #ffffff;
	background: var(--color__lang__interview);
}

.sok-Chip.sok-Chip-php {
	color: #21212a;
	background: var(--color__lang__php);
}

.sok-Chip.sok-Chip-css {
	color: #21212a;
	background: var(--color__lang__css);
}

.sok-Chip.sok-Chip-ruby {
	color: #ffffff;
	background: var(--color__lang__ruby);
}

.sok-Chip.sok-Chip-ramda {
	color: #ffffff;
	background: var(--color__lang__ramda);
}
