[submodule "submodules/30-seconds-of-react"]
	path = submodules/30-seconds-of-react
	url = https://github.com/30-seconds/30-seconds-of-react.git
[submodule "submodules/30-seconds-of-code"]
	path = submodules/30-seconds-of-code
	url = https://github.com/30-seconds/30-seconds-of-code.git
[submodule "submodules/30-seconds-of-python"]
	path = submodules/30-seconds-of-python
	url = https://github.com/30-seconds/30-seconds-of-python.git
[submodule "submodules/30-seconds-of-css"]
	path = submodules/30-seconds-of-css
	url = https://github.com/30-seconds/30-seconds-of-css.git
[submodule "submodules/30-seconds-of-php"]
	path = submodules/30-seconds-of-php
	url = https://github.com/30-seconds/30-seconds-of-php.git
[submodule "submodules/30-seconds-of-git"]
	path = submodules/30-seconds-of-git
	url = https://github.com/30-seconds/30-seconds-of-git.git
[submodule "submodules/30-seconds-of-dart"]
	path = submodules/30-seconds-of-dart
	url = https://github.com/30-seconds/30-seconds-of-dart.git
[submodule "submodules/30-seconds-of-csharp"]
	path = submodules/30-seconds-of-csharp
	url = https://github.com/30-seconds/30-seconds-of-csharp.git
[submodule "submodules/30-seconds-of-golang"]
	path = submodules/30-seconds-of-golang
	url = https://github.com/30-seconds/30-seconds-of-golang.git
[submodule "submodules/30-seconds-of-ruby"]
	path = submodules/30-seconds-of-ruby
	url = https://github.com/florianjosefreheis/30-seconds-of-ruby.git
[submodule "submodules/30-seconds-of-interviews"]
	path = submodules/30-seconds-of-interviews
	url = https://github.com/30-seconds/30-seconds-of-interviews.git
