.sok-DonationBeggar {
	width: 350px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--bg__color);
	padding: 90px 40px 40px;
	box-shadow: var(--drop-shadow__regular);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}

.sok-DonationBeggar-wrapper {
	z-index: 99999;
	opacity: 0;
	animation: var(--animation__fade_in);
}

.sok-DonationBeggar-wrapper-hidden {
	animation: var(--animation__fade_out);
	pointer-events: none !important;
}

.sok-DonationBeggar-backdrop {
	z-index: -1;
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--color__white);
	opacity: 0.3;
	cursor: pointer;
}

.sok-DonationBeggar-button {
	height: 50px;
	min-width: var(--button__width--min);
	max-width: var(--button__width--max);
	background: var(--color__white);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color__gray--dark);
	font-weight: 900;
	margin-top: auto;
	transition: all 0.3s ease-in-out;
}

.sok-DonationBeggar-button:hover {
	box-shadow: var(--button__drop-shadow);
	transform: scale(1.1);
}

.sok-DonationBeggar-button > img {
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.sok-DonationBeggar-message > strong {
	color: var(--color__orange--light);
	font-weight: 900;
}

.sok-DonationBeggar-codeForCoffee {
	width: 100px;
	height: auto;
	position: absolute;
	align-self: center;
	top: -40px;
}

/* Exit button */

.sok-DonationBeggar > .sok-Button {
	font-weight: 900;
	min-width: unset;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 36px !important;
	height: 36px !important;
	border-radius: 100%;
}
