.sok-Header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: var(--color__header__gradient);
}

.sok-Header > a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sok-Header-logo {
	width: 150px;
	height: auto;
}

.sok-Header .sok-Button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	left: 36px;
	top: 36px;
	position: fixed;
	min-width: unset;
	width: 36px;
	height: 36px;
	background: transparent;
}

.sok-Header .sok-Button:after {
	content: 'Settings';
	position: absolute;
	width: 108px;
	height: 36px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background: var(--color__white);
	left: 60px;
	display: none;
	font-size: var(--font__size--small);
}

.sok-Header .sok-Button:hover:after {
	display: flex;
	animation: var(--animation__slide_in--left);
}

.sok-Header .sok-Button > img {
	width: 36px;
	height: 36px;
	margin: 0;
}

.sok-Header .sok-Header-donation {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	right: 36px;
	top: 36px;
	position: fixed;
	min-width: unset;
	width: 36px;
	height: 36px;
	background: transparent;
	transition: all 0.3s ease-in-out;
}

.sok-Header .sok-Header-donation:after {
	content: 'Buy Me A Coffee';
	position: absolute;
	width: 108px;
	height: 36px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background: var(--color__white);
	right: 60px;
	display: none;
	color: var(--color__gray--dark);
	font-size: var(--font__size--small);
}

.sok-Header .sok-Header-donation:hover:after {
	display: flex;
	animation: var(--animation__slide_in--right);
}

.sok-Header .sok-Header-donation:hover {
	box-shadow: var(--button__drop-shadow);
	transform: scale(1.1);
}

.sok-Header .sok-Header-donation > img {
	width: 36px;
	height: 36px;
	margin: 0;
}
