.sok-Header {
	width: 100%;
	height: 128px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: var(--color__header__gradient);
	margin-bottom: 32px;
}

.sok-Header > a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sok-Header-logo {
	width: auto;
	height: 32px;
}

.sok-Header .sok-Button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	left: 36px;
	top: 36px;
	position: fixed;
	min-width: unset;
	width: 36px;
	height: 36px;
	background: transparent;
}
