.container {
  display: flex;
  margin-bottom: 32px;
  align-items: center;

  .icon {
    min-width: 56px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    background: var(--accent);

    svg {
      width: 32px;
      height: 32px;
      fill: var(--primary);
      color: var(--primary);
    }
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .title {
      display: flex;
      margin-bottom: 4px;

      h1 {
        margin: 0;
        font-size: 36px;
        line-height: 36px;
        margin-right: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: var(--secondary);
      }

      .save {
        color: var(--secondary_translucent);
        fill: var(--secondary_translucent);

        @media (hover: hover) {
          &:hover,
          &:active {
            color: var(--secondary);
            fill: var(--secondary);
          }
        }

        &.active {
          color: var(--accent);
          fill: var(--accent);

          path {
            fill: var(--accent);
          }
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    .fullTitle {
      font-weight: 500;
      color: var(--secondary_highlight);
      font-style: italic;
      margin-bottom: 8px;
    }

    .updatedOn {
      font-weight: 500;
      color: var(--secondary_highlight);
    }

    span {
      font-size: 12px;
      line-height: 12px;
    }
  }
}
