/* stylelint-disable */

.sok-Spinner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.sok-Spinner span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}

.sok-Spinner span:before,
.sok-Spinner span:after {
	content: '';
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	border: 2px solid var(--color__white);
	border-radius: 50%;
	opacity: 0;
	animation: var(--animation__pulse--1);
}

.sok-Spinner span:after {
	animation: var(--animation__pulse--2);
}
