.label {
  display: block;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 8px;
}

.subLabel {
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--secondary_translucent);
}
