.sok-Separator {
	background: var(--color__secondary);
}

.sok-Separator-horizontal {
	height: 1px !important;
	margin: 32px 0;
}

.sok-Separator-vertical {
	width: 1px !important;
	margin: 0 32px;
}
