@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

/* Variables */

:root {

	/* Colors */

	--color__white: #ffffff;
	--color__white--dark: #b7b7cd;
	--color__gray: #353740;
	--color__gray--light: #5e5d66;
	--color__gray--dark: #21212a;
	--color__orange: #fe1605;
	--color__orange--light: #fea04f;

	/* Body */

	--drop-shadow__regular: 1px 1px 16px 1px rgba(0, 0, 0, 0.2);
}

/* Global */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 0;
	font-family: 'Roboto Mono', 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(-225deg, rgb(227, 253, 245, 0.5) 0%, rgb(255, 230, 250, 0.5) 100%);
	font-weight: 500;
	font-size: 12px;
}

code {
	font-family: 'Roboto Mono', 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

a {
	text-decoration: none;
}

h1 {
	display: none;
}

h3 {
	text-transform: uppercase;
}

strong {
	font-weight: 900;
	color: var(--color__orange);
}
