@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary);
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

summary {
  &::-webkit-details-marker {
    display: none;
  }
}
