/* Dark Theme */

.dark {
  --primary: #0e1217;
  --primary_highlight: #26282d;
  --primary_translucent: #0e121780;
  --secondary: #f1ede8;
  --secondary_highlight: #d9d7d2;
  --secondary_translucent: #f1ede880;
  --accent: #ffc800;
  --accent_text: var(--primary);
  --fallback_code_bg: #282a36;
}
