/* Hackpot (Under The Sea) Theme */

.hackpot {
  --primary: #013030;
  --primary_highlight: #003838;
  --primary_translucent: #01303080;
  --secondary: #b1e7b1;
  --secondary_highlight: #40715e;
  --secondary_translucent: #b1e7b180;
  --accent: #32cd32;
  --accent_text: #003838;
  --fallback_code_bg: #147433;
}
