/* Light Theme
 * Names will be deceptive because the colors are inverted
 */

.light {
  --primary: #f1ede8;
  --primary_highlight: #d9d7d2;
  --primary_translucent: #f1ede880;
  --secondary: #0e1217;
  --secondary_highlight: #26282d;
  --secondary_translucent: #0e121780;
  --accent: #38c0ff;
  --accent_text: var(--secondary);
  --fallback_code_bg: #282a36;
}
