.sok-ControllsOverlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	pointer-events: none;
}

.sok-ControllsOverlay-menu {
	position: absolute;
	bottom: 36px;
	right: 36px;
	font-size: 16px;
	z-index: 1;
}

.sok-ControllsOverlay-menu .sok-SokIcon {
	width: 16px;
	height: 16px;
}

.sok-ControllsOverlay-menu .sok-ControllsOverlay-menu-items {
	background: var(--color__white);
	border-radius: 24px 24px 0 0;
	padding-bottom: 24px;
	margin-bottom: -24px;
	box-shadow: var(--drop-shadow__regular);
	transform: scaleY(0);
	opacity: 0;
	transform-origin: 0% 100%;
}

.sok-ControllsOverlay-menu-opened .sok-ControllsOverlay-menu-items {
	animation: var(--animation__menu_open);
}

.sok-ControllsOverlay-menu-closed .sok-ControllsOverlay-menu-items {
	animation: var(--animation__menu_close);
}

.sok-ControllsOverlay-menu .sok-ControllsOverlay-menu-items .sok-ControllsOverlay-menu-item {
	margin-bottom: 16px;
}

.sok-ControllsOverlay .sok-Button {
	width: 48px;
	height: 48px;
	min-width: unset;
	pointer-events: all;
	border-radius: 50%;
	position: relative;
}

.sok-ControllsOverlay-menu-item:after {
	position: absolute;
	width: 108px;
	height: 36px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background: var(--color__white);
	display: none;
	font-size: var(--font__size--small);
}

.sok-ControllsOverlay-menu-item:hover:after {
	content: attr(data-name);
	display: flex;
	left: -144px;
	animation: var(--animation__slide_in--right);
}
