.sok-OptionsTab {
	width: 100%;
	min-height: 100vh;
	height: 100%;
}

.sok-OptionsTab .sok-OptionsPicker {
	min-height: calc(100vh - 200px);
	margin: 0 auto;
}

.sok-OptionsTab .sok-Header {
	margin: 0;
}

.sok-OptionsTab .sok-Footer {
	margin: 0;
}
