.container {
  width: calc(100vw - 64px);
  max-width: 1280px;
  margin: 0 auto;

  &.isPopup {
    width: max-content;

    .content {
      min-height: unset;
    }
  }

  .content {
    padding: 32px 0;
    min-height: calc(100vh - 192px);
    max-width: 1024px;
    margin: 0 auto;

    &.onlyContent {
      padding: 0;
      min-height: 100vh;
    }

    &.twoSections {
      min-height: calc(100vh - 96px);
    }
  }
}

.tooltip {
  background: var(--accent) !important;
  padding: 8px !important;
  color: var(--accent_text) !important;
  opacity: 1 !important;
  text-align: center;

  &::after,
  &::before {
    border-top-color: var(--accent) !important;
  }
}
