.sok-PopupTab {
	margin: 0;
	padding: 0;
	transform: scale(0.9);
}

.sok-PopupTab .sok-OptionsPicker {
	justify-content: flex-start;
	margin: 0 auto;
	padding: 16px 0 32px;
	font-size: 0.8em;
}

.sok-PopupTab .sok-Toaster {
	animation: var(--animation__slide_in--up) !important;
	animation-duration: 0.5s;
	width: 250px;
}

.sok-PopupTab .sok-OptionsPicker .sok-OptionsPicker-item {
	width: 250px;
}

.sok-PopupTab .sok-OptionsPicker .sok-OptionsPicker-itemsContainer-horizontal > * {
	width: 250px;
}

.sok-PopupTab .sok-Button {
	width: 250px;
}
