/* Toast Animations */

@keyframes slide-in-up {
	from {
		transform: translate3d(-50%, 100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(-50%, 0, 0);
	}
}

@keyframes slide-in-up-regular {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

/* Loader Animations */

@keyframes pulse-1 {
	0% {
		transform: translate3d(0, 0, 0) scale(0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 0, 0) scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse-2 {
	0% {
		transform: translate3d(0, 0, 0) scale(0);
		opacity: 1;
	}

	100% {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 0;
	}
}

/* Popover animations */

@keyframes slide-in-blurred-left {
	0% {
		transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
		transform-origin: 100% 50%;
		filter: blur(40px);
		opacity: 0;
	}

	100% {
		transform: translateX(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

@keyframes slide-in-blurred-right {
	0% {
		transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
		transform-origin: 0% 50%;
		filter: blur(40px);
		opacity: 0;
	}

	100% {
		transform: translateX(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
	}
}

/* Modal animations */

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Menu animations */

@keyframes menu-open {
	0% {
		transform: scaleY(0);
		opacity: 0;
		transform-origin: 0% 100%;
	}

	100% {
		transform: scaleY(1);
		opacity: 1;
		transform-origin: 0% 100%;
	}
}

@keyframes menu-close {
	0% {
		transform: initial;
		opacity: 1;
		transform-origin: 0% 100%;
	}

	100% {
		transform: scaleY(0);
		opacity: 0;
		transform-origin: 0% 100%;
	}
}
