@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

@import '../assets/fonts/sok-icons/styles.css';
@import 'animations.css';

/* Variables */

:root {

	/* Colors */

	/*
	 * Colors are inherited from themes
	 */

	--color__lang__js: #F0DB4E;
	--color__lang__react: #009bb7;
	--color__lang__python: linear-gradient(135deg, #56a9ec 0%,#56a9ec 50%,#ffe05d 50%,#ffe05d 100%);
	--color__lang__interview: #5100ff;
	--color__lang__php: #AEB2D5;
	--color__lang__css: #2CAAE1;
	--color__lang__ruby: #B60D01;
	--color__lang__ramda: #884499;
	--color__lang__cpp: #1F6AA4;

	--color__primary: var(--color__gray);
	--color__secondary: var(--color__orange);
	--color__secondary--light: var(--color__orange--light);

	/* Body */

	--bg__color: var(--color__gray--dark);
	--drop-shadow__regular: 10px 0 37.6px 2.4px rgba(0, 0, 0, 0.1);
	--drop-shadow__inverse: -10px 0 37.6px 2.4px rgba(0, 0, 0, 0.1);

	/* Fonts */

	--font__color--primary: var(--color__white);
	--font__color--dark: var(--color__white--dark);
	--font__color--black: var(--color__gray--dark);
	--font__color--secondary: var(--color__orange);
	--font__color--secondary--light: var(--color__orange--light);

	--font__size--xxs: 12px;
	--font__size--xs: 14px;
	--font__size--s: 16px;
	--font__size--m: 18px;
	--font__size--l: 20px;
	--font__size--xl: 22px;
	--font__size--xxl: 24px;

	/* Buttons */

	--button__height: 32px;
	--button__width--min: 144px;
	--button__width--max: calc(var(--button__width--min)*2);
	--button__drop-shadow: 0 10px 20px 2px rgba(0,0,0,0.1);
	--filter__button--icon: none;

	/* Toaster */

	--toaster__bg: var(--color__white);
	--toaster__font: var(--color__gray--dark);

	/* CodeBlock */

	--bg__code--block: var(--color__gray);

	/* Border */

	--color__border: var(--color__gray--light);

	/* Animations */

	--animation__slide_in--up: slide-in-up 1s;
	--animation__slide_in--up__regular: slide-in-up-regular 1s;

	/* stylelint-disable */

	--animation__pulse--1: pulse-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite;
	--animation__pulse--2: pulse-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s infinite;

	--animation__slide_in--left: slide-in-blurred-left 0.1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	--animation__slide_in--right: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

	--animation__fade_in: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	--animation__fade_out: fade-out 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

	--animation__menu_open: menu-open 0.4s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	--animation__menu_close: menu-close 0.4s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;

	/* stylelint-enable */

	/* Content */

	--content__width--max: 1024px;
	--content__width: calc(100vw - 80px);

	/* Tabs */

	--tab__height: 48px;

	/* Search Filter */
	--color__search_input: #353740;
	--color--active_element: #63656d;
	--color__search_input_text: #fff;
}

/* Global */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	padding: 0;
	font-family: 'Roboto Mono', 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--bg__color);
	font-weight: 500;
	font-size: var(--font__size--xxs);
	color: var(--font__color--primary);
}

code {
	font-family: 'Roboto Mono', 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

a {
	text-decoration: none;
	color: var(--font__color--primary);
}

/* Fontsizes */

.sok-Fontsize-xxs {
	font-size: var(--font__size--xxs);
}

.sok-Fontsize-xs {
	font-size: var(--font__size--xs);
}

.sok-Fontsize-s {
	font-size: var(--font__size--s);
}

.sok-Fontsize-m {
	font-size: var(--font__size--m);
}

.sok-Fontsize-l {
	font-size: var(--font__size--l);
}

.sok-Fontsize-xl {
	font-size: var(--font__size--xl);
}

.sok-Fontsize-xxl {
	font-size: var(--font__size--xxl);
}
