@import '../../../css/animations.css';

.sok-Toaster {
	animation: var(--animation__slide_in--up);
	z-index: 9999;
	display: flex;
	justify-content: center;
	min-width: 200px;
	min-height: 40px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	margin-top: auto;
	background: var(--toaster__bg);
	color: var(--toaster__font);
	font-weight: 700;
	box-shadow: var(--drop-shadow__inverse);
}

.sok-Toaster-actionButton {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	color: var(--font__color--secondary);
}

.sok-Toaster-actionButton:hover {
	background: rgba(0,0,0,0.1);
}

.sok-Toaster-toastText {
	display: flex;
	align-items: center;
	margin: 10px;
	max-width: 300px;
}
