.sok-PageTabs {
	width: 100%;
	display: flex;
	height: auto;
	margin-bottom: 32px;
}

.sok-PageTabs .sok-PageTabs-tab {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--tab__height);
	border-bottom: none;
	border-radius: 8px 8px 0 0;
	cursor: pointer;
}

.sok-PageTabs .sok-PageTabs-tab-active {
	background: var(--color__gray);
}

.sok-PageTabs .sok-PageTabs-tab:hover {
	box-shadow: var(--button__drop-shadow);
}

.sok-PageTabs .sok-PageTabs-tab:not(:last-child) {
	border-right: none;
}
